<!-- <p>uploaded-documents works!</p> -->
<div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
        <div class="row align-items-center">
          <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            
            <table class="table  bg-white text-center">
              <thead>
                
              </thead>
               <tbody>
                
                <tr>
                    
                    <td>
                        <fa-icon [icon]="icons.file1" class="me-2 fa-3x" routerLink="/documentDetails" routerLinkActive="current"></fa-icon>
                        <div>Assignment1</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file1" class="me-2 fa-3x" routerLink="/documentDetails" routerLinkActive="current"></fa-icon>
                        <div>Assignment1</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file1" class="me-2 fa-3x" routerLink="/documentDetails" routerLinkActive="current"></fa-icon>
                        <div>Assignment1</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file1" class="me-2 fa-3x" routerLink="/documentDetails" routerLinkActive="current"></fa-icon>
                        <div>Assignment1</div> 
                    </td>
                    
                </tr>  
                
                  
                
                
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
