<p>uploaded-documents works!</p>
<div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
        <div class="row align-items-center">
          <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <h3 class="text-muted text-center mb-3"></h3>
            <table class="table  bg-white text-center">
              <thead>
                
              </thead>
               <tbody>
                
                <tr>
                    
                    <td>
                        <fa-icon [icon]="icons.file1" class="me-2 fa-3x"></fa-icon>
                        <div>Assignment1</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file2" class="me-2 fa-3x"></fa-icon>
                        <div>Folder</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file3" class="me-2 fa-3x"></fa-icon>
                        <div>Text</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file4" class="me-2 fa-3x"></fa-icon>
                        <div>Powerpoint</div> 
                    </td>
                    <td>
                        <fa-icon [icon]="icons.file5" class="me-2 fa-3x"></fa-icon>
                        <div>Images</div> 
                    </td>
                </tr>  
                
                  
                
                
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
