<div >
    <table>
        <tr>
            <td><form action="">
        
                <label for="documentType" class="name mt-5" style="margin-left:300px;color: black;">Name of the document:</label>
                <input type="text" id="documentType" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
            
                <label for="subject" class="name mt-5" style="margin-left:300px;color: black">Class:</label>
                <input type="text" id="subject" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
        
                <label for="subject" class="name mt-5" style="margin-left:300px;color: black;">Subject:</label>
                <input type="text" id="subject" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
        
        
            </form></td>
            <td style="padding-left: 70px;">
                <form action="">
        
                    <label for="documentType" class="name mt-5" style="margin-left:300px;color: black;">File Type:</label>
                    <input type="text" id="documentType" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
                
                    <label for="subject" class="name mt-5" style="margin-left:300px;color: black;">File Size:</label>
                    <input type="text" id="subject" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
            
                    <label for="subject" class="name mt-5" style="margin-left:300px;color: black;">Expire Date:</label>
                    <input type="text" id="subject" class="form-control" style="width:100%;margin-left:300px;background-color:rgb(221, 218, 218);">
            
            
                </form>
            </td>
        </tr>
    </table>
    
</div>
<div class="zone" >


    <div id="dropZ">
      <i class="fa fa-cloud-upload"></i>
      <div>Drag and drop your file here</div>                    
      <span>OR</span>
      <div class="selectFile">       
        <label for="file">Select file: </label>                   
        <input type="file" name="files[]" id="file">
      </div>
      <p>File size limit : 10 MB</p>
    </div>
  
  </div>