<p>dashboard works!</p>
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
          <a href="#"
            class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">CodeAndCreate</a>
          <div class="bottom-border pb-3">
            <img src="assets/images/users/profile.jpg" width="50" class="rounded-circle mr-3">
            <span class="text-white" style="margin-left:25px ;">David Grey. H</span>
          </div>

          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item">
              <a class="nav-link text-white p-3 mb-2">
                <fa-icon [icon]="icons.dashBoard" class="me-2"></fa-icon>Dashboard

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3 mb-2" routerLink="/quickAccess" routerLinkActive="current">
                <fa-icon [icon]="icons.quickAccess" class="me-2"></fa-icon>Quick Access

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3 mb-2" routerLink="/documents" routerLinkActive="current">
                <fa-icon [icon]="icons.viewDocuments" class="me-2"></fa-icon>View Documents

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3 mb-2" routerLink="/drops" routerLinkActive="current">
                <fa-icon [icon]="icons.dropIn" class="me-2"></fa-icon>Drop ins

              </a>
            </li>

            <!-- <li class="nav-item"  >
                <a  class="nav-link text-white p-3 mb-2" routerLink="/test" routerLinkActive="current">
                    <fa-icon [icon]="icons.test" class="me-2"></fa-icon>Test
                    
                </a>
              </li> -->


          </ul>
        </div>
        <!-- end of sidebar -->

        <!-- top-nav -->
        <div class="col-md-12  ml-auto bg-dark fixed-top py-2 top-navbar">
          <div class="row align-items-center">
            <div class="col-md-2">
              <h4 class="text-light text-uppercase mb-0">STUDENT</h4>
            </div>
            <div class="col-md-6">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control search-input" placeholder="Search...">
                  <button type="button" class="btn btn-white search-button">
                    <fa-icon [icon]="icons.search" style="color: #1caf9a;"></fa-icon>
                  </button>
                  <div data-bs-toggle="dropdown" class="dropdown" style="margin-left: 100px;">
                    <div class="row">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                          <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic1" ngbDropdownToggle>
                            All Files
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <div ngbDropdown class="d-inline-block">
                                <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                                  ngbDropdownToggle>
                                  Year
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <!-- <button ngbDropdownItem routerLink="">FE</button>
                                  <button ngbDropdownItem routerLink="">SE</button> -->
                                  <button ngbDropdownItem routerLink="">TE</button>
                                  <!-- <button ngbDropdownItem routerLink="">TE</button> -->
                                </div>
                              </div>
                              <div ngbDropdown class="d-inline-block">
                                <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                                  ngbDropdownToggle>
                                  Sem
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem routerLink="">5</button>
                                  <button ngbDropdownItem routerLink="">6</button>
                                </div>
                              </div>
                              <div ngbDropdown class="d-inline-block">
                                <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                                  ngbDropdownToggle>
                                  Class
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem routerLink="">D12A</button>
                                  <button ngbDropdownItem routerLink="">D12B</button>
                                  <button ngbDropdownItem routerLink="">D12C</button>
                                </div>
                              </div>
                              <div ngbDropdown class="d-inline-block">
                                <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                                  ngbDropdownToggle>
                                  Subject
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem routerLink="">MC</button>
                                  <button ngbDropdownItem routerLink="">SPCC</button>
                                  <button ngbDropdownItem routerLink="">CC</button>
                                  <button ngbDropdownItem routerLink="">QA</button>
                                  <button ngbDropdownItem routerLink="">CSS</button>
                                </div>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            
            <div class="col-md-1" style="margin-left: 350px;">
              <ul class="navbar-nav">
                <li class="nav-item icon-parent">
                  <a href="#" class="nav-link ">
                    <fa-icon [icon]="icons.queries" class="text-white"></fa-icon>
                  </a>
                </li>
                <li class="nav-item icon-parent">
                  <a href="#" class="nav-link icon-bullet">
                    <fa-icon [icon]="icons.notification" class="text-white"></fa-icon>
                  </a>
                </li>
                <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-bs-toggle="modal"
                    data-bs-target="#sign-out">
                    <fa-icon [icon]="icons.signOut" class="text-white"></fa-icon>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of top-nav -->
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->

<!-- <div data-bs-toggle="dropdown" class="dropdown" style="margin-top: 300px;margin-left: 400px;">
  
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic1" ngbDropdownToggle>
          All Files
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          
          
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                ngbDropdownToggle>
                Year
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="">FE</button>
                <button ngbDropdownItem routerLink="">SE</button>
                <button ngbDropdownItem routerLink="">TE</button>
                <button ngbDropdownItem routerLink="">TE</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                ngbDropdownToggle>
                Sem
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="">5</button>
                <button ngbDropdownItem routerLink="">6</button>
                
              </div>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                ngbDropdownToggle>
                Class
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="">D12A</button>
                <button ngbDropdownItem routerLink="">D12B</button>
                <button ngbDropdownItem routerLink="">D12C</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="text-muted text-uppercase fw-bold mx-3 btn" id="dropdownBasic12"
                ngbDropdownToggle>
                Subject
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="">MC</button>
                <button ngbDropdownItem routerLink="">SPCC</button>
                <button ngbDropdownItem routerLink="">CC</button>
                <button ngbDropdownItem routerLink="">QA</button>
                <button ngbDropdownItem routerLink="">CSS</button>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>

</div> -->
