
<div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ms-auto" >
        <div class="row align-items-center">
          <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            
            <table class="table  bg-white text-center" >
              <thead>
                <tr class="text-muted">
                  <th>profile</th>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Year</th>
                  <th>UserName</th>
                  
                </tr>
              </thead>
               <tbody *ngFor="let students of studentData">
                <tr> 
                  <td>
                    <div class="bottom-border pb-3">
                      <img src="assets/images/users/profile.jpg" width="50" class="rounded-circle mr-3">
                    </div>
                  </td>
                    <td>
                        
                          {{students.FirstName}} {{students.LastName}}
                    </td>
                    <td>
                      {{students.Email}}
                      <!-- 2020.david.grey.@ves.ac.in -->
                    </td>
                    <td>
                      {{students.Year}}
                    </td>
                    <td>{{students.Username}}</td>
                    
                </tr>
                
                
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

