<p>view-documents works!</p>
<div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
        <div class="row align-items-center">
          <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <h3 class="text-muted text-center mb-3"></h3>
            <table class="table  bg-white text-center">
              <thead>
                <tr class="text-muted">
                  <th>FileType</th>
                  <th>Name</th>
                  <th>Shared By</th>
                  <th>Posted On</th>
                  <th>File Size</th>
                  <th>Download</th>
                </tr>
              </thead>
               <tbody>
                <tr>
                    <td><fa-icon [icon]="icons.file1" class="me-2"></fa-icon></td>
                    <td>
                        
                        <span>Assignment1</span>
                    </td>
                    <td>Mrs.Pallavi Saidane</td>
                    <td>Sep 13,2022</td>
                    <td>100MB</td>
                    <td>
                        <fa-icon [icon]="icons.download" class="me-7"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <td><fa-icon [icon]="icons.file1" class="me-2"></fa-icon></td>
                    <td>
                        
                        <span>Assignment1</span>
                    </td>
                    <td>Mrs.Pallavi Saidane</td>
                    <td>Sep 13,2022</td>
                    <td>100MB</td>
                    <td>
                        <fa-icon [icon]="icons.download" class="me-7"></fa-icon>
                    </td>
                </tr>
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  

