<!-- <p>document-details works!</p> -->
<!-- <p>uploaded-documents works!</p> -->
<div class="container-fluid" style="margin-left: 250px; font-size: large;">
    <div class="Details">
        <div>
            <p><b>Document Name:  </b><span> Assignment1 </span> </p>
            <br>
            <p><b>Document Type:  </b><span> PDF </span> </p>
            <br>
            <p><b>ClassName:  </b><span> D12A </span> </p>
            <br>
            <p><b>Subject: </b><span>Cloud Computing</span> </p>
            <br>
        </div>
    </div>
    
</div>

